<h4>Edit Transaction</h4>
<p>Transaction <%= @transaction.id %></p>

<p>
  <form action="/transactions/<%= @transaction.id %>" method="POST">

    <label for="merchant_select">Select Merchant:</label>
    <select name="merchant_id" id="merchant_select">
      <% @merchants.each do |merchant| %>
      <% if merchant.id == @transaction.merchant_id %>
      <option value=<%= merchant.id %> selected><%= merchant.name.capitalize %></option>
      <% else %>
      <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
      <% end %>
      <% end %>
    </select>

    <label for="tag_select">Select Tag:</label>
    <select name="tag_id" id="tag_select">
      <% @tags.each do |tag| %>
      <% if tag.id == @transaction.tag_id %>
      <option value=<%= tag.id %> selected><%= tag.tag.capitalize %></option>
      <% else %>
      <option value=<%= tag.id %>><%= tag.tag.capitalize %></option>
      <% end %>
      <% end %>
    </select>

    <label for="spent"><input type="text" name="spent" id="spent" value="<%= @transaction.spent %>"></label>
    <input type="submit" value="Edit transaction">
  </form>
</p>
